<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>解释：形容兄弟姐妹或朋友之间的感情好，感情深。 就好像是手足一样亲近，离不开，不可缺少。</string>
		<key>question</key>
		<string>question1</string>
		<key>reslut</key>
		<string>手足情深</string>
		<key>text</key>
		<string>则幅己注一手一的个组足涉一修可主情是统主不深原来</string>
	</dict>
	<dict>
		<key>description</key>
		<string>锦上添花，意指在美丽的锦织物上再添加鲜花。比喻略加修饰使美者更美，引申比喻在原有成就的基础上进一步完善。语出 宋 黄庭坚 《了了庵颂》：“又要 涪翁 作颂，且图锦上添花。</string>
		<key>question</key>
		<string>question2</string>
		<key>reslut</key>
		<string>锦上添花</string>
		<key>text</key>
		<string>物达添物幅己锦开自的边的上则那分义的天花自辩组去</string>
	</dict>
	<dict>
		<key>description</key>
		<string>身怀六甲，即古代称女子怀孕。传说中甲子、甲寅、甲辰、甲午、甲申、甲戌六个甲日，是上天创造万物的日子，也是妇女最易受孕的日子，故称女子怀孕为身怀六甲。</string>
		<key>question</key>
		<string>question3</string>
		<key>reslut</key>
		<string>身怀六甲</string>
		<key>text</key>
		<string>事新是做也身情开有了不怀能主不的断六为逸的义甲主</string>
	</dict>
	<dict>
		<key>description</key>
		<string>积少成多，亦作积小成大。谓只要不断积累，就会从少变多。语出《汉书·董仲舒传》：“众少成多，积小致钜。</string>
		<key>question</key>
		<string>question4</string>
		<key>reslut</key>
		<string>积少成多</string>
		<key>text</key>
		<string>和信开那积尊幅逸涉唯少果的的辩春的成物史多谁物青</string>
	</dict>
	<dict>
		<key>description</key>
		<string>比喻开始时声势很大，到后来劲头很小，有始无终，做事不始终如一</string>
		<key>question</key>
		<string>question5</string>
		<key>reslut</key>
		<string>虎头蛇尾</string>
		<key>text</key>
		<string>断斗严春没虎不必生头尊赌春部蛇情也尾己的不的涉情</string>
	</dict>
	<dict>
		<key>description</key>
		<string>形容心里慌乱不安，无所适从的感觉。也指零落不齐或纷乱不齐。形容心里慌乱不安，无所适从。也指零落不齐或纷乱不齐。明·施耐庵《水浒全传》第二十六回</string>
		<key>question</key>
		<string>question6</string>
		<key>reslut</key>
		<string>七上八下</string>
		<key>text</key>
		<string>情两唯和的有七没爱了上则不谁机么八不没下青够了有</string>
	</dict>
	<dict>
		<key>description</key>
		<string>羊入虎口，谓羊处于老虎的威胁下，或进入了老虎的领地。比喻弱者陷入险恶的境地，面临被残害的处境。出自明·罗贯中《粉妆楼》第七回</string>
		<key>question</key>
		<string>question7</string>
		<key>reslut</key>
		<string>羊入虎口</string>
		<key>text</key>
		<string>的它逸唯的生羊的的去入危用原虎果一还的做口组可不</string>
	</dict>
	<dict>
		<key>description</key>
		<string>成语：本指游乐休息的环境，后多指谈情说爱的处所。出处唐·白居易《老病》诗：“昼听笙歌夜醉眠，若非月下即花前。</string>
		<key>question</key>
		<string>question8</string>
		<key>reslut</key>
		<string>花前月下</string>
		<key>text</key>
		<string>用能物花达组义前和史物信和去主己月唯够主情下开边</string>
	</dict>
	<dict>
		<key>description</key>
		<string>【解释】：话里含有别的意思。
【出自】：清·曹雪芹《红楼梦》第第一百十回：“邢夫人等听了话中有话，不想到自己不令凤姐便宜行事，反说：‘凤丫头果然有些不用心。’”</string>
		<key>question</key>
		<string>question9</string>
		<key>reslut</key>
		<string>话里有话</string>
		<key>text</key>
		<string>还必要话原物爱两爱里是把涉的用一唯达有人是话断还</string>
	</dict>
	<dict>
		<key>description</key>
		<string>【解释】：往火上倒油。比喻使人更加愤怒或使情况更加严重。
【出自】：元·关汉卿《金线池》第二折：“我见了他扑邓邓火上浇油。</string>
		<key>question</key>
		<string>question10</string>
		<key>reslut</key>
		<string>火上浇油</string>
		<key>text</key>
		<string>点够火好的的上怜的的成浇的有严我油主的一的怜的统</string>
	</dict>
	<dict>
		<key>description</key>
		<string>【解释】：看书时同时可以看十行。形容看书非常快。
【出自】：《梁书·简文帝纪》：“读书十行俱下。”宋·刘克庄《杂记六言五首》诗：“五更三点待漏，一目十行读书。</string>
		<key>question</key>
		<string>question11</string>
		<key>reslut</key>
		<string>一目十行</string>
		<key>text</key>
		<string>一开可严目足尊怜春机足生开的十是事争的的行统原证</string>
	</dict>
	<dict>
		<key>description</key>
		<string>【解释】：一只手把天遮住。形容依仗权势，玩弄手段，蒙蔽群众。
【出自】：唐·曹邺《读李斯传》诗：“难将一人手，掩得天下目</string>
		<key>question</key>
		<string>question12</string>
		<key>reslut</key>
		<string>一手遮天</string>
		<key>text</key>
		<string>一斗点物不手严主是遮尊天涉则的和的自自义能义春原</string>
	</dict>
	<dict>
		<key>description</key>
		<string>【解释】：一刀斩为两段。比喻坚决断绝关系。
【出自】：宋·释普济《五灯会元》卷十二：“一刀两段，未称宗师。”《朱子语类》卷四十四：“观此可见克己者是从根源上一刀两断，便斩绝了，更不复萌</string>
		<key>question</key>
		<string>question13</string>
		<key>reslut</key>
		<string>一刀两断</string>
		<key>text</key>
		<string>有么点达边刀是闲也史断两幅己有是一我则幅辩断青我</string>
	</dict>
	<dict>
		<key>description</key>
		<string>【解释】：画蛇时给蛇添上脚。比喻做了多余的事，非但无益，反而不合适。也比喻虚构事实，无中生有。
【出自】：《战国策·齐策二》：“蛇固无足，子安能为之足？” 明·施耐庵《水浒全传》第一百十回：“将军功绩已成，威声大震，可以止矣。今若前进，倘不如意，正如‘画蛇添足’也</string>
		<key>question</key>
		<string>question14</string>
		<key>reslut</key>
		<string>画蛇添足</string>
		<key>text</key>
		<string>足部是修的添义尊一爱分抛做不蛇统幅一画达做不谁主</string>
	</dict>
	<dict>
		<key>description</key>
		<string>【解释】：原形容梁代画家张僧繇作画的神妙。后多比喻写文章或讲话时，在关键处用几句话点明实质，使内容生动有力。
【出自】：唐·张彦远《历代名画记·张僧繇》：“金陵安乐寺四白龙不点眼睛，每云：‘点睛即飞去。’人以为妄诞，固请点之。须臾，雷电破壁，两龙乘云腾去上天，二龙未点眼者见在</string>
		<key>question</key>
		<string>question15</string>
		<key>reslut</key>
		<string>画龙点睛</string>
		<key>text</key>
		<string>画能可尊那睛一严分情龙物事它为点的是个不闲机是生</string>
	</dict>
	<dict>
		<key>description</key>
		<string>【解释】：讥笑听话的人不懂对方说得是什么。用以讥笑说话的人不看对象。
【出自】：汉·牟融《理惑论》：“公明仪为牛弹清角之操，伏食如枚。非牛不闻，不合其耳矣。</string>
		<key>question</key>
		<string>question16</string>
		<key>reslut</key>
		<string>对牛弹琴</string>
		<key>text</key>
		<string>对么不的牛和有不弹琴的人边的己却则开那个两谁一达</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question17</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>为自把成为自是的结的青怎的斗边尊辩用和的还做自自</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question18</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>物足没了生做闲不了春己个还断么要还的和那辩是做闲</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question19</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>我一那开的组的闲人能那主义的证义涉不唯和原是争个</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question20</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>去主它则有情的不两好做的唯不用有的不我和能做我那</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question21</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>够主部情把则信斗了仰为和成组能辩要幅也一有必生尊</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question22</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>的是的必尊开逸能成有的仰物修涉了是是能开为不的己</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question23</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>闲的主春开唯我把唯自己能情有结是赌修抛做果逸了是</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question24</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>做幅修我斗的和能有的好去注的斗修么把主的义要的赌</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question25</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>点新个逸了谁也一不情物怎的一了赌严我呢青有尊么不</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question26</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>物有的去没能历义那的可好还是做和和唯了争唯义没逸</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question27</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>唯则统能断还辩涉成逸和没则够要信我那是不断是用主</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question28</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>却新青唯开和信可谁有用断没的史义谁我物义够谁的则</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question29</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>够爱要主成义注则义怜严没必唯有还要情却辩机情幅一</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question30</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>的点也情也部没幅尊却抛义历义物的自的么闲一证的不</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question31</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>春要了的么危新一够可做那用了躲严春和历己断分个情</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question32</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>的却情么是怎我做生的我果情和还逸注把那达己个没它</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question33</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>是赌部证足历还是的成情却开一一做生是不和的物够青</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question34</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>原的它的不主点自做够斗的的原主主和组闲有爱一一有</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question35</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>史为危它好义必还怎还一的做注边尊一主尊信历己和我</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question36</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>生是赌的的边斗是原呢的和用能己用也不尊要情开怎仰</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question37</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>了的唯物物的唯的点怜我赌点己却爱能原争信的部要开</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question38</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>两爱足能结事的情新的个去的足尊斗必有一也原结义严</string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>question</key>
		<string>question39</string>
		<key>reslut</key>
		<string></string>
		<key>text</key>
		<string>尊却不和物不的够情能怎可的能成点斗斗么的争爱的尊</string>
	</dict>
</array>
</plist>
